{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "plugins": [
    "cypress",
    "html",
    "vue"
  ],
  "extends": [
    "plugin:vue/essential",
    "@vue/standard"
  ],
  "env": {
    "mocha": true,
    "cypress/globals": true,
    "amd": true,
    "es6": true,
    "browser": true,
    "node": false
  },
  "rules": {
    "strict": "off"
  }
}
